
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
}

h1 {
    line-height: 1.1;
    margin: 0 40px;
    font-size: 5rem;
    max-width: 12ch;
}

.hero {
    position: relative;
    isolation: isolate;
    padding: 1rem;
}

.canvas_container {
    clip-path: polygon(0 0, 100% 0, 100% 51%, 0% 110%);
    height: 50vh;
    position: absolute;
    inset: 0;
    z-index: -10000;    
}

canvas {
    width: 100%;
    height: 100%;
}

.bottom_nav {
    display: flex;
    flex-direction: flex-end;
    align-items: center;
    position: fixed;
    bottom: 0px;
    left: 25%;
    width: 800px;
    height: 50px;
    background-color: black;
    border-radius: 50px 50px 0 0;
    padding: 0 10px;
    border: solid 1px white;
    z-index: 10000;
}

.bottom_nav > ul {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    list-style: none;
    display: flex;
    padding-right: 30px;
}

.bottom_nav > h2 {
    color: white;
    margin-right: auto;
    padding-left: 40px;
}

.bottom_nav > ul > li {
    padding: 0 10px;
    font-size: large;
    cursor: pointer;
}

.bottom_nav > ul > li:hover{
    color: orange;
}

.logo {
    width: fit-content;
    color: orange;
    background: black;
    padding: 0 30px 10px 30px;
    border-radius: 50px;
}

.package_box_container {
    margin: 50px 0;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.package_box {
    width: 300px;
    height: 300px;
    background: black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.package_box_heading {
    color: white;
}

.package_box_button {
    width: 200px;
    height: 50px;
    background-color: orange;
    color: white;
    border-radius: 30px;
    font-size: xx-large;
}

.package_box_button:hover {
    background-color: rgb(255, 140, 0);
    cursor: pointer;
}

.package_box_para {
    color: white;
    font-size: large;
    font-weight: 400;
    padding: 0 30px;
    text-align: center;
    margin-bottom: 30px;
}

.video_container {
    position: relative;
    inset: 0;
    padding: 0;
    margin: 0;
}

.about {
    width: 50%;
    height: 50%;
    margin: 20px;
    border-radius: 30px;
    backdrop-filter: blur(20px);
    position: absolute;
    inset: 0;
    z-index: 1;
}

.video_text {
    font-size: 40px;
    text-align: left;
    color: white;
    padding: 0 0 0 50px;
}

footer {
    width: 100vw;
    height: 150%;
    margin: 300px 0;
}